.gsc-control-cse {
    font-family: Arial, sans-serif;
}

.gsc-search-button {
    border-color: #FF5733;
    background-color: #FFC300;
}

.gsc-tabHeader.gsc-tabhInactive {
    border-color: #C70039;
    background-color: #900C3F;
}

