.in-about-section-1 {
  z-index: 1;
  padding: 175px 0px 130px;
}
.in-about-section-1 .in-about-bg {
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
.in-about-section-1 .in-about-bg img {
  width: 100%;
}

.in-about-feature-img-1 {
  z-index: 1;
  padding-left: 40px;
}
.in-about-feature-img-1:before {
  left: 0;
  top: -50px;
  z-index: -1;
  width: 470px;
  content: "";
  height: 620px;
  position: absolute;
  border-radius: 8px;
  border: 1px solid #dcf2fe;
  box-shadow: 0px 9px 16px -6px rgba(32,191,240,1);
  -webkit-box-shadow: 0px 9px 16px -6px rgba(32,191,240,1);
  -moz-box-shadow: 0px 9px 16px -6px rgba(32,191,240,1);
}

.in-about-feature-wrapper {
  margin-right: 25px;
}

.in-about-feature-item {
  max-width: 205px;
  margin-bottom: 35px;
}
.in-about-feature-item .inner-icon {
  margin-bottom: 15px;
}
.in-about-feature-item .inner-icon i {
  line-height: 1;
  font-size: 40px;
  color: #0B2B6A;
}
.in-about-feature-item .inner-text h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
  color: #0B2B6A;
}
.in-about-feature-item:hover .inner-icon {
  -webkit-animation: icon-bounce 0.8s ease-out infinite;
          animation: icon-bounce 0.8s ease-out infinite;
}

.in-about-text-wrapper-1 {
  padding: 15px 0px 0px 25px;
}

.in-about-text-area-1 {
  padding: 25px 0px 40px;
}

.in-about-counter-wrapper-1 {
  margin-bottom: 52px;
}

.in-about-counter-item-1 h3 {
  font-size: 48px;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 12px;
  color: #0B2B6A;
}
.in-about-counter-item-1 p {
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
}


/*---------------*/
.in-about-section-1 {
  z-index: 1;
  padding: 175px 0px 130px;
}
.in-about-section-1 .in-about-bg {
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
.in-about-section-1 .in-about-bg img {
  width: 100%;
}

/*-----------*/

.in-about-section-1 {
  z-index: 1;
  padding: 175px 0px 130px;
}
.in-about-section-1 .in-about-bg {
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
}
.in-about-section-1 .in-about-bg img {
  width: 100%;
}

.in-about-feature-img-1 {
  z-index: 1;
  padding-left: 40px;
}
.in-about-feature-img-1:before {
  left: 0;
  top: -50px;
  z-index: -1;
  width: 470px;
  content: "";
  height: 620px;
  position: absolute;
  border-radius: 8px;
  border: 1px solid #dcf2fe;
  box-shadow: 0px 9px 16px -6px rgba(32,191,240,1);
  -webkit-box-shadow: 0px 9px 16px -6px rgba(32,191,240,1);
  -moz-box-shadow: 0px 9px 16px -6px rgba(32,191,240,1);
}

.in-about-feature-wrapper {
  margin-right: 25px;
}

.in-about-feature-item {
  max-width: 205px;
  margin-bottom: 35px;
}
.in-about-feature-item .inner-icon {
  margin-bottom: 15px;
}
.in-about-feature-item .inner-icon i {
  line-height: 1;
  font-size: 40px;
  color: #0B2B6A;
}
.in-about-feature-item .inner-text h3 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 12px;
  color: #0B2B6A;
}
.in-about-feature-item:hover .inner-icon {
  -webkit-animation: icon-bounce 0.8s ease-out infinite;
          animation: icon-bounce 0.8s ease-out infinite;
}

.in-about-text-wrapper-1 {
  padding: 15px 0px 0px 25px;
}

.in-about-text-area-1 {
  padding: 25px 0px 40px;
}

.in-about-counter-wrapper-1 {
  margin-bottom: 52px;
}

.in-about-counter-item-1 h3 {
  font-size: 48px;
  font-weight: 700;
  display: inline-block;
  padding-bottom: 12px;
  color: #0B2B6A;
}
.in-about-counter-item-1 p {
  font-size: 18px;
  font-weight: 700;
  color: var(--black-color);
}

/*--------------------*/
.in-btn-1 a {
  background-color: #0f61a8;
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  background: linear-gradient(to bottom, #0f61a8 5%, #0b2b6a 100%);
  box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
  -webkit-box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
  -moz-box-shadow: 0px 5px 16px -6px rgba(114, 4, 207, 1);
}
.in-btn-1 a:hover {
  background: linear-gradient(to bottom, #0b2b6a 5%, #0f61a8 100%);
  background-color: #0b2b6a;
  color: #fff;
  box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  -webkit-box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
  -moz-box-shadow: 0px 0px 4px 2px rgba(114, 4, 207, 0.75);
}